.Blogs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3%;
}

/* The header */
.blogHeader{
    margin-top: 150px;
    margin-bottom: 50px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
}
.devLogo {
    color: #242838;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}
.devLogo:hover {
    opacity: 0.5;
}
.blog-title{
    font-size: 30px;
    font-weight: 600;
}

/* Blog Cards */
.blogCard {
    position: relative;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
.blogContent {
    width: 350px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #242838;
    border: hidden;
    border-radius: 10px;
}
.blogContent:hover {
    box-shadow: 16px 16px 16px 0px rgba(0,0,0,0.2);
}
.blogLink {
    font-size: 25px;
    font-weight: 600;
    color: #242838;
    margin-top: 20px;
}
.blogImage {
    width: 350px;
    height: 180px;
    border: hidden;
    border-radius: 10px 10px 0px 0px;
}
.blogText {
    height: 100px;
    padding-top: 10px;
    border-left: 3px solid#a7aab1;
    border-right: 3px solid#a7aab1;
    border-bottom: 3px solid#a7aab1;
    border-radius: 0px 0px 10px 10px;
}
.blogText a:hover{
    opacity: 0.5;
}
